<div class="container">
    <div class="image-container">
        <a routerLink="/product/:id">
            <img src="https://kalimancaribe.com/images/thumbnails/330/186/detailed/1/Bolivar-Royal-Coronas-tubos_1.png" alt="royal coronas">
        </a>
    </div>
    <div class="product-info">
        <div class="features">
            <span><i class="fas fa-arrows-alt-h"></i>124 мм</span>
            <span><i class="fas fa-ring"></i>50 ринг</span>
        </div>
        <div class="info">
            <a routerLink="/product/:id">Bolivar Royal Corona</a>
            <p>23,00 лв</p>
        </div>
    </div>
</div>