<div class="container">
    <div class="image-container">
        <a [routerLink]="['/products/product/', product._id]">
            <img [src]="product.imageUrl" alt="product image">
        </a>
    </div>
    <div class="product-info">
        <div class="features" *ngIf="product.length">
            <span><i class="fas fa-arrows-alt-h"></i>{{product.length}} мм</span>
            <span><i class="fas fa-ring"></i>{{product.ring}} ринг</span>
        </div>
        <div class="info">
            <a [routerLink]="['/products/product/', product._id]">{{product.title}}</a>
            <p>{{product.price.toFixed(2)}} лв</p>
        </div>
    </div>
</div>