<header>
    <div class="upper-header">
        <ul>
            <li><a routerLink="/about-us">ЗА НАС</a></li>
            <li><a routerLink="/blog">БЛОГ</a></li>
            <li><a routerLink="/brands">МАРКИ</a></li>
            <li><a routerLink="/contacts">КОНТАКТИ</a></li>
        </ul>
        <ul>
            <li><a routerLink="/login"><i class="fas fa-key"></i>ЛОГИН</a></li>
            <li><a routerLink="/register"><i class="fas fa-user"></i>РЕГИСТРАЦИЯ</a></li>
        </ul>
    </div>
    <div class="img-container">
        <img src="https://kalimancaribe.com/design/themes/kalimancaribe/i/logofooter.png" alt="logo">
    </div>
    <div class="lower-header">
        <ul>
            <li><a href="https://www.facebook.com/KalimanCaribeBulgaria" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/kaliman_caribe/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCjjLsE_QH6m70mdlXTB01zg" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a class="hashtag" href="https://www.instagram.com/explore/tags/habanosathome/" target="_blank">#habanosathome</a></li>
        </ul>
        <ul>
            <li><img src="https://kalimancaribe.com/design/themes/kalimancaribe/i/authentic.png" alt="logo"><a routerLink="/">Проверка за автентичност</a></li>
        </ul>
    </div>
</header>