<app-title-hero-section [title]="product?.title"></app-title-hero-section>
<app-lower-navbar></app-lower-navbar>
<div class="container">
    <hr>
    <app-loader *ngIf="!product; else elseContainer"></app-loader>
    <ng-template #elseContainer>
        <div class="product-info">
            <img [src]="product?.imageUrl" alt="cigar">
            <div class="features" *ngIf="product.brand">
                <span><i class="fas fa-tag"></i>{{product?.brand}}</span>
                <span><i class="fas fa-ruler"></i>{{product?.vitola}}</span>
                <span><i class="fas fa-arrows-alt-h"></i>{{product?.length}} мм</span>
                <span><i class="fas fa-ring"></i>{{product?.ring}} ринг</span>
                <span><i class="fas fa-leaf"></i>{{product?.strength}}</span>
                <span><i class="far fa-clock"></i>{{product?.time}} мин.</span>
            </div>
            <div class="package" *ngIf="product.type === 'habanos' || product.type === 'others'; else elseTemplate">
                <span>Пури в опаковка:</span>
                <span>1 брой - {{product?.price.toFixed(2)}} лв</span>
                <span>10 броя - {{(product?.price * 10).toFixed(2)}} лв</span>
            </div>
            <ng-template #elseTemplate>
                <div class="price-container">
                    <h1 class="price">Цена: {{product.price.toFixed(2)}} лв</h1>
                </div>
            </ng-template>
            <div class="btns">
                <button (click)="addToCartHandler()">ДОБАВИ В КОЛИЧКАТА</button>
                <button (click)="addToWishlistHandler()">ДОБАВИ КЪМ СПИСЪКА С ЖЕЛАНИЯ</button>
            </div>
            <p>За консултация можете да се свържете с продуктовите специалисти от La Casa del Habano и Premium Cigars &
                Tobacco на тел.: +359 2 953 11 80, +359 889 300 091, и <a
                    href="mailto:contact@kaliman.bg">contact@kaliman.bg</a>.</p>
        </div>
        <hr>
        <div class="description" *ngIf="product.description">
            <h6>ОПИСАНИЕ</h6>
            <p>{{product?.description}}</p>
        </div>
        <div class="images">
            <img src="../../../assets/images/homepage_contacts_left.jpg" alt="left">
            <img src="https://kalimancaribe.com/images/companies/1/product%20inner/product_inner_bottom_right.png"
                alt="right">
        </div>
    </ng-template>
</div>