<app-title-hero-section title="BOLIVAR ROYAL CORONA"></app-title-hero-section>
<app-lower-navbar></app-lower-navbar>
<div class="container">
    <hr>
    <div class="product-info">
        <img src="https://kalimancaribe.com/images/thumbnails/650/366/detailed/1/Bolivar-Royal-Coronas-tubos_1.png"
            alt="cigar">
        <div class="features">
            <span><i class="fas fa-tag"></i>Bolivar</span>
            <span><i class="fas fa-ruler"></i>Robusto</span>
            <span><i class="fas fa-arrows-alt-h"></i>124 мм</span>
            <span><i class="fas fa-ring"></i>50 ринг</span>
            <span><i class="fas fa-leaf"></i>Средна към силна</span>
            <span><i class="far fa-clock"></i>50 мин.</span>
        </div>
        <div class="package">
            <span>Пури в опаковка:</span>
            <span>1 тубос - 23,00 лв</span>
            <span>10 тубоса - 230,00 лв</span>
        </div>
        <p>За консултация можете да се свържете с продуктовите специалисти от La Casa del Habano и Premium Cigars &
            Tobacco на тел.: +359 2 953 11 80, +359 889 300 091, и <a
                href="mailto:contact@kaliman.bg">contact@kaliman.bg</a>.</p>
    </div>
    <hr>
    <div class="description">
        <h6>ОПИСАНИЕ</h6>
        <pre>
            В началото, до представянето си през 1973 г. като Royal Corona, тази витола е носила името на британския
            престолонаследник Принц Чарлз. Най-харесваната пура на марката, каквото и да се каже за нея ще е малко.
            Най-продаваният Bolivar в световен мащаб, който има дързостта да се конкурира с класиките в този размер –
            Cohiba Robusto и Partagas Serie D N4.

            Тази витола е подходяща за хора, които не се притесняват да посегнат към нещо силно. Изпъква с уникални
            дървесни и земни нотки и аромати на подправки, които не са присъщи за другия най-популярен формат на марката
            Belicoso Fino. Пура с интензивна горимост, доминираща и пиперлива, може да Ви подкоси краката, ако сте
            прибързан пушач.

            Royal Corona е представена в червен алуминиев тубос, което напоследък е все по-често срещана и удобна
            практика на Habanos.
        </pre>
    </div>
    <div class="images">
        <img src="../../../assets/images/homepage_contacts_left.jpg" alt="left">
        <img src="https://kalimancaribe.com/images/companies/1/product%20inner/product_inner_bottom_right.png"
            alt="right">
    </div>
</div>