<app-title-hero-section title="ЗА НАС"></app-title-hero-section>
<app-lower-navbar></app-lower-navbar>
<div class="container">
    <hr>
    <div class="content">
        <p>
            „<a class="bold" routerLink="/">Калиман Карибе</a>” ООД е основана през 1995 г. като ексклузивен дистрибутор
            на престижните марки ръчно свити
            пури <a routerLink="/products/all" [queryParams]="{type: 'habanos'}">Habanos</a> за България.
        </p>
        <p class="bold">Основните направления от дейността на „<a class="bold" routerLink="/">Калиман Карибе</a>” са:
        </p>
        <article>
            <h2>Национална дистрибуция на тютюневи изделия и аксесоари за пушене.</h2>
            <ul>
                <li>
                    Има ключова роля за позиционирането и разпространението на тютюневи изделия от висок клас в
                    България. Разполага с развита дистрибуционна мрежа на различни нива – търговци ключови клиенти –
                    големи търговски вериги и бензиностанции, хипермакети; търговски представители за средни и малки
                    клиенти и екс-ван доставки в цялата страна.
                </li>
                <li>
                    Складовете на компанията са лицензирани за работа при митнически, данъчен и публичен режим.
                </li>
            </ul>
        </article>
        <article>
            <h2>Развиване на ритейл – специализирани магазини за пури, пурети, тютюни и аксесоари</h2>
            <ul>
                <li>
                    Ексклузивен представител на <a target="_blank" href="https://cohibaatmosphere.bg/">Cohiba Atmosphere</a> – под
                    лиценза на <a routerLink="/products/all" [queryParams]="{type: 'habanos'}">Habanos</a> s.a.
                </li>
                <li>
                    Ексклузивен представител на <a routerLink="/products/all" [queryParams]="{type: 'habanos'}">La Casa del
                        Habano</a> – под лиценза на <a routerLink="/products/all"
                        [queryParams]="{type: 'habanos'}">Habanos</a> s.a.
                </li>
                <li>
                    Развива собствена марка специализирани магазини за тютюневи изделия – Premium Cigars & Tobacco.
                </li>
                <li>
                    Менажира специализирана верига магазини за пури, пурети и тютюни №1 в България.
                </li>
            </ul>
        </article>
        <article>
            <h2>„Калиман Карибе“ ООД е ексклузивен дистрибутор на Habanos s.a в следните страни:</h2>
            <ul>
                <li>Албания</li>
                <li>Армения</li>
                <li>Босна и Херцеговина</li>
                <li>България</li>
                <li>Косово</li>
                <li>Румъния</li>
                <li>Северна Македония</li>
                <li>Словения</li>
                <li>Сърбия</li>
                <li>Хърватска</li>
                <li>Черна гора</li>
            </ul>
        </article>
        <article>
            <h2>Портфолиото на „Калиман Карибе“ включва следните основни продуктови групи:</h2>
            <ul>
                <li><a routerLink="/products/all" [queryParams]="{type: 'habanos'}">Ръчно свити пури Habanos.</a></li>
                <li>Машинни пури и пурети.</li>
                <li>Тютюни за лула.</li>
                <li><a routerLink="/products/all" [queryParams]="{type: 'accessories'}">Аксесоари за пушене.</a></li>
                <li><a routerLink="/products/all" [queryParams]="{type: 'gourmet'}">Gourmet продукти – вина, кубински ром и
                        кафе.</a></li>
            </ul>
        </article>
        <article>
            <h2>Услуги</h2>
            <ul>
                <li>„<a class="bold" routerLink="/">Калиман Карибе</a>” организира интерактивни специализирани
                    продуктови обучения и дегустации.</li>
                <li>„<a class="bold" routerLink="/">Калиман Карибе</a>” участва с <a routerLink="/products/all"
                        [queryParams]="{type: 'habanos'}">Habanos</a> Point на събития с
                    професионални <a routerLink="/products/all" [queryParams]="{type: 'habanos'}">Habanos</a> презентатори.
                </li>
                <li>„<a class="bold" routerLink="/">Калиман Карибе</a>” осигурява catering на пури <a
                        routerLink="/products/all" [queryParams]="{type: 'habanos'}">Habanos</a> и отлежали
                    кубински напитки.</li>
            </ul>
        </article>
    </div>
</div>