<app-wrapper title="КОНТАКТИ">
    <div class="inner-container">
        <div class="text-container">
            <h2>Свържете се с консултант от „Калиман Карибе” относно:</h2>
            <ul>
                <li>въпроси за продукти</li>
                <li>въпроси за продукти</li>
                <li>консултация при избор на подарък</li>
                <li>бизнес сътрудничество</li>
            </ul>
            <div class="info">
                <h2>Калиман Карибе ООД</h2>
                <p>бул. България 118</p>
            </div>
            <div class="info">
                <p>Бизнес Център Абакус, ет. 2</p>
                <p>1618 София, България</p>
            </div>
            <div class="info">
                <p>Т. +359 2 953 11 80</p>
            </div>
            <div class="contacts">
                <p>Email за консултация: <a href="mailto:contact@kaliman.bg">contact@kaliman.bg</a></p>
                <p>Email за корпоративни контакти: <a href="mailto:kcaribe@kaliman.bg">kcaribe@kaliman.bg</a></p>
            </div>
        </div>
        <div class="form-container">
            <form>
                <label>Email<span class="red">*</span></label>
                <input type="text" required>

                <label>Имена<span class="red">*</span></label>
                <input type="text" required>

                <label>Тема<span class="red">*</span></label>
                <input type="text" required>

                <label>Съобщение<span class="red">*</span></label>
                <textarea required></textarea>

                <button>ИЗПРАТИ</button>
            </form>
        </div>
    </div>
</app-wrapper>