section {
    text-align: center;
    position: relative;
}

.text {
    background-image: url(../../../assets/images/pagetop_default.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 65px 0;
}

h1 {
    font-size: 42px;
    color: #e8e6e3;
    font-weight: 600;
    line-height: 50px;
}
