<footer>
    <a routerLink="/"><img src="../../assets/images/logofooter.png" alt="logo"></a>
    <nav>
        <ul class="upper-nav">
            <li>
                <a routerLinkActive="active" routerLink="/cigars" [queryParams]="{type: 'habanos'}">HABANOS ПУРИ</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/cigars" [queryParams]="{type: 'others'}">ДРУГИ ПУРИ</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/cigars" [queryParams]="{type: 'accessories'}">АКСЕСОАРИ</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/cigars" [queryParams]="{type: 'gourmet'}">ГУРМЕ</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/newsletter">HABANOS NEWSLETTER</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="lower-nav">
            <li><a routerLink="/about-us">ЗА НАС</a></li>
            <li><a routerLink="/blog">БЛОГ</a></li>
            <li><a routerLink="/brands">МАРКИ</a></li>
            <li><a routerLink="/contacts">КОНТАКТИ</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="policies">
            <li><a href="https://kalimancaribe.com/bg/obschi-usloviya/">Общи условия</a></li>
            <li><a href="https://kalimancaribe.com/bg/lichni-danni/">Политика за поверителност</a></li>
        </ul>
    </nav>
    <p>&copy; 2020 Caliman Karibe Ltd. Всички права запазени!</p>
</footer>