<nav>
    <ul>
        <li><a routerLinkActive="active" routerLink="/products/all" [queryParams]="{type: 'habanos'}">HABANOS ПУРИ</a></li>
        <li><a routerLinkActive="active" routerLink="/products/all" [queryParams]="{type: 'others'}">ДРУГИ ПУРИ</a></li>
        <li><a routerLinkActive="active" routerLink="/products/all" [queryParams]="{type: 'accessories'}">АКСЕСОАРИ</a></li>
        <li><a routerLinkActive="active" routerLink="/products/all" [queryParams]="{type: 'gourmet'}">ГУРМЕ</a></li>
        <li><a routerLinkActive="active" routerLink="/newsletter">HABANOS NEWSLETTER</a></li>
        <li class="golden"><a routerLinkActive="active special" routerLink="/products/all" [queryParams]="{type: 'special'}">СПЕЦИАЛНИ ОФЕРТИ</a></li>
    </ul>
</nav>