<nav>
    <ul>
        <li><a routerLink="/cigars" [queryParams]="{type: 'habanos'}">HABANOS ПУРИ</a></li>
        <li><a routerLink="/cigars" [queryParams]="{type: 'others'}">ДРУГИ ПУРИ</a></li>
        <li><a routerLink="/cigars" [queryParams]="{type: 'accessories'}">АКСЕСОАРИ</a></li>
        <li><a routerLink="/cigars" [queryParams]="{type: 'gourmet'}">ГУРМЕ</a></li>
        <li><a routerLink="/newsletter">HABANOS NEWSLETTER</a></li>
        <li class="golden"><a routerLink="/cigars" [queryParams]="{type: 'special'}">СПЕЦИАЛНИ ОФЕРТИ</a></li>
    </ul>
</nav>