<app-wrapper title="HABANOS БЮЛЕТИН">
    <div class="inner-container">
        <h1>Habanos Newsletter</h1>
        <div class="newsletter">
            <h2>2020</h2>
            <a href="http://kalimancaribe.com/images/companies/1/Habanos%20Newsletter/Newsletter%202020%20bg.pdf?1587454527671"
                target="_blank">Habanos Newsletter 33 2020</a>
        </div>
        <div class="newsletter">
            <h2>2019</h2>
            <a href="http://kc.ivuworks.net/images/companies/1/Habanos%20Newsletter/Newsletter%2032%20BG%20June.pdf?1560406245063"
                target="_blank">Habanos Newsletter 32 2019</a>
        </div>
        <div class="newsletter">
            <h2>2018</h2>
            <a href="http://kc.ivuworks.net/images/companies/1/Habanos%20Newsletter/Newsletter%2031%20BG%20final.pdf?1560322675294"
                target="_blank">Habanos Newsletter 31 2018</a>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-30-bg-small.pdf"
                target="_blank">Habanos Newsletter 30 2018</a>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-29-bg-small.pdf"
                target="_blank">Habanos Newsletter 30 2018</a>
        </div>
        <div class="newsletter">
            <h2>2017</h2>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-28-BG_small.pdf"
                target="_blank">Habanos Newsletter 28 2017</a>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-27-BG.pdf"
                target="_blank">Habanos Newsletter 27 2017</a>
        </div>
        <div class="newsletter">
            <h2>2016</h2>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-26-BG.pdf"
                target="_blank">Habanos Newsletter 26 - Dec 2016</a>
            <a href="https://kalimancaribe.com/static/habanos_newsletter/bg/Newsletter-25-BG.pdf"
                target="_blank">Habanos Newsletter 25 May - Jun 2016</a>
        </div>
    </div>
</app-wrapper>