<header>
    <div class="upper-header">
        <ul>
            <li><a routerLink="/about-us">ЗА НАС</a></li>
            <li><a routerLink="/blog">БЛОГ</a></li>
            <li><a routerLink="/brands">МАРКИ</a></li>
            <li><a routerLink="/contacts">КОНТАКТИ</a></li>
        </ul>
        <ul *ngIf="!isLogged; else elseTemplate">
            <li><a routerLink="/login"><i class="fas fa-key"></i>ЛОГИН</a></li>
            <li><a routerLink="/register"><i class="fas fa-user"></i>РЕГИСТРАЦИЯ</a></li>
        </ul>
        <ng-template #elseTemplate>
            <ul class="logged-list">
                <li><a routerLink="/profile"><i class="fas fa-user"></i>ПРОФИЛ</a></li>
                <li><a routerLink="/wishlist"><i class="fas fa-heart"></i>СПИСЪК С ЖЕЛАНИЯ</a></li>
                <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i>КОЛИЧКА</a></li>
                <li><button (click)="logoutHandler()"><i class="fas fa-sign-out-alt"></i>ИЗХОД</button></li>
            </ul>
        </ng-template>
    </div>
    <div class="img-container">
        <a routerLink="/"><img src="../../assets/images/logofooter.png" alt="logo"></a>
    </div>
    <div class="lower-header">
        <ul>
            <li>
                <a href="https://www.facebook.com/KalimanCaribeBulgaria" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/kaliman_caribe/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCjjLsE_QH6m70mdlXTB01zg" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a class="hashtag" href="https://www.instagram.com/explore/tags/habanosathome/"
                    target="_blank">#habanosathome</a>
            </li>
        </ul>
        <ul>
            <li>
                <a target="_blank" href="http://verificacion.habanos.com">
                    <img src="../../assets/images/authentic.png" alt="logo">Проверка за автентичност
                </a>
            </li>
        </ul>
    </div>
</header>