.container {
    padding: 50px 310px;
    color: #e8e6e3;
}

.container > hr {
    border: 1px solid #262a2b;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}