<section>
    <article>
        <div class="heading">
            <h1>HABANOS PREMIUM CIGARS</h1>
            <a routerLink="/cigars" [queryParams]="{type: 'habanos'}">НАУЧИ ПОВЕЧЕ</a>
        </div>
        <div class="brands-container">
            <h2>МАРКИ</h2>
            <div class="images">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo1.jpg" alt="cohiba logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo3.jpg" alt="montecristo logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo4_new.jpg" alt="hupmann logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo5_new.jpg" alt="romeo y julieta logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo6_new.jpg" alt="trinidad logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo7_new.jpg" alt="partagas logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo8_new.jpg" alt="quai dorsay logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo13_new.jpg" alt="hoyo de monterrey logo">
            </div>
        </div>
    </article>
    <img class="cigars" src="../../assets/images/cigars-mix.png" alt="cigars">
</section>