<section>
    <article>
        <div class="heading">
            <h1>HABANOS PREMIUM CIGARS</h1>
            <a routerLink="/habanos-cigars">НАУЧИ ПОВЕЧЕ</a>
        </div>
        <div class="brands-container">
            <h2>МАРКИ</h2>
            <div class="images">
                <img src="../../assets/images/brands/logo1.jpg" alt="cohiba logo">
                <img src="../../assets/images/brands/logo3.jpg" alt="montecristo logo">
                <img src="../../assets/images/brands/logo4_new.jpg" alt="hupmann logo">
                <img src="../../assets/images/brands/logo5_new.jpg" alt="romeo y julieta logo">
                <img src="../../assets/images/brands/logo6_new.jpg" alt="trinidad logo">
                <img src="../../assets/images/brands/logo7_new.jpg" alt="partagas logo">
                <img src="../../assets/images/brands/logo8_new.jpg" alt="quai dorsay logo">
                <img src="../../assets/images/brands/logo13_new.jpg" alt="hoyo de monterrey logo">
            </div>
        </div>
    </article>
    <img class="cigars" src="../../assets/images/cigars-mix.png" alt="cigars">
</section>