<app-title-hero-section title="РЕГИСТРАЦИЯ"></app-title-hero-section>
<app-lower-navbar></app-lower-navbar>
<section>
    <h1>РЕГИСТРАЦИЯ</h1>
    <hr>
    <form #f="ngForm" (ngSubmit)="registerHandler(f.value)">
        <input name="username" type="text" placeholder="Потребителско име" ngModel required>
        <input name="password" type="password" placeholder="Парола" ngModel required>
        <input name="repeatPassword" type="password" placeholder="Повторете паролата" ngModel required>
        <button [disabled]="f.invalid">РЕГИСТРИРАЙ СЕ</button>
    </form>
    <span>Вече имате съществуващ профил? <a routerLink="/login">Влезте с него.</a></span>
</section>