<div class="container">
    <h1>КАТЕГОРИИ</h1>
    <div class="categories">
        <a routerLink="/cigars" routerLinkActive="active" [queryParams]="{type:'habanos'}">HABANOS ПУРИ</a>
        <a routerLink="/cigars" routerLinkActive="active" [queryParams]="{type:'others'}">ДРУГИ ПУРИ</a>
        <a routerLink="/cigars" routerLinkActive="active" [queryParams]="{type:'accessories'}">АКСЕСОАРИ</a>
        <a routerLink="/cigars" routerLinkActive="active" [queryParams]="{type:'gourmet'}">ГУРМЕ</a>
        <a routerLink="/cigars" routerLinkActive="active" [queryParams]="{type:'special'}">СПЕЦИАЛНИ ОФЕРТИ</a>
    </div>
</div>