<div class="black">
    <app-wrapper class="black" title="МАРКИ">
        <div class="inner-container">
            <p>
                „<b>Калиман Карибе</b>” е ексклузивен дистрибутор на престижните марки ръчно свити пури Habanos за
                България и още
                10 държави в региона!
            </p>
            <h1>HABANOS CIGARS: PREMIUM HAND MADE</h1>
            <div class="brands-container">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo1.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo3.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo5_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo7_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo13_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo4_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo6_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo8_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo21_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo10_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo9_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo35.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo14_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo43.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo22_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo18_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo12_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo17_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo19_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo20_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo15_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo23_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo2_new-2.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo44.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/2/logo11_new.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo36.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo47.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo41.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo45.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo40.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo37.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo49.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo48.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo46.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/meharis-logo.png" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo38.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo42.jpg" alt="logo">
                <img src="https://kalimancaribe.com/images/feature_variant/4/logo39.jpg" alt="logo">
            </div>
        </div>
    </app-wrapper>
</div>