<section>
    <article>
        <img class="contacts-left" src="../../assets/images/homepage_contacts_left.jpg" alt="contacts left">
        <div class="contacts">
            <h2>КОНТАКТИ</h2>
            <a target="_blank"
                href="https://www.google.com/maps/place/Абакус+бизнес+център/@42.6559164,23.2814963,17z/data=!4m8!1m2!2m1!1z0JDQsdCw0LrRg9GBINCx0LjQt9C90LXRgSDRhtC10L3RgtGK0YAg0LrQsNC70LjQvNCw0L0!3m4!1s0x40aa8496db055fb9:0xd5d8a218f863da99!8m2!3d42.6558411!4d23.2835785">
                бул. България 118
                Бизнес Център Абакус, ет. 2
                1618 София, България
            </a>
            <p>Т. <a href="tel:9531180">02/ 953 11 80</a></p>
            <p>
                поръчки и консултация:
                <a href="mailto:contact@kaliman.bg">contact@kaliman.bg</a>
            </p>
            <p>
                корпоративни контакти:
                <a href="mailto:kcaribe@kaliman.bg">kcaribe@kaliman.bg</a>
            </p>
        </div>
    </article>
    <article>
        <img src="../../assets/images/homepage_contacts_right.jpg" alt="contact right">
    </article>
</section>